
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <a href="/">概要</a>
    <a href="/about/">詳細</a>
    <a href="/blog/">ブログ</a>
    <h1>My Astro's site</h1>
    <h2>ABOUTページの更新を行いました！</h2>
    <p>うまく表示できているでしょうか？？</p>
  </body>
</html>