---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle = "ブログページ";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>こちらはブログページです！</h2>
    <p>随時追加してまいります．</p>
    <ul>
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>